html * {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#sink {
	background-color: #FFFFFF;
}

.profile img {
	border-radius: 50%;

	display: block;
	margin: 0 auto;

	width: 30%;
	height: auto;
}

.name span {
	font-size: 32pt;
	font-weight: 300;
}

.website a {
	font-size: 30pt;

	color: #9999CC;
}

.website {
	margin-top: 10px;
}

.coming-soon h1 {
	font-size: 30pt;
	color: #CCCCFF;
}

.name span {
	border-bottom: 2px dotted black;
}

span.sandeep span,
span.prasad span {
	color: red;
	border-bottom: 2px solid red;	
}

.center {
	text-align: center;
	font-size: 0;
}

@media only screen and (max-width: 767px) {
	.name span {
		font-size: 20pt;
	}

	.website a {
		font-size: 18pt;
	}

	.coming-soon h1 {
		font-size: 18pt;
	}
}